<div class="title">
  <h1>
    We Have Tents!!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div class="content">
  <h2>Keep Your Gear Dry</h2>
  <p>
    So you went to our gear shop and got yourself a lot of great camping gear, like Wilderness Connected WiFi, and Likeside LAN
    Lines, and even a nice backpack to carry your laptop on those beautiful hiking trails. But what happens when it rains?
    You don't want all of that nice gear to get wet. Plus, you want to be able to continue to actually enjoy your camping
    experience. That is where our tents come in.
  </p>
  <p>
    All of our tents include:
  </p>
  <ul>
    <li>
      <b>Generators w/ Electrical Hookup</b> - so you can charge your gear</li>
    <li>
      <b>Desks</b> - for better comfort when using your gear</li>
    <li>
      <b>Shaded Screens</b> - to help reduce glare on your monitors</li>
    <li>
      <b>External Antenaes</b> - to extend your Wilderness WiFi</li>
    <li>
      <b>Coffee Makers</b> - helps you turn caffine into code (deluxe models only)</li>
  </ul>
  <p>
    Please stop in and see the models in our show room.
  </p>
</div>
